body{
    font-family: 'Mukta', sans-serif;
    background: linear-gradient(hsl(213, 19%, 18%),hsl(216, 12%, 8%));
}
.header{
    margin-left:100px;
    display: inline-block;
    padding:50px;
    margin-bottom: 100px;
    background-color: #9e6009;
    border-radius: 20px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
p{
    display: block;
}


.main-container{
    width: 80%;
    margin: 0 auto;
}
.container-one{
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-bottom:50px;
    border-radius:20px;
}
.container-one > div{
    background-color: #9e6009;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.container-two{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom:50px;
    gap: 10px;
}
.container-two > div{
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.container-three{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom:50px;
    gap: 10px;
}
.container-three > div{
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}