body{
    font-family: 'Mukta', sans-serif;
}
.header{
    margin-left:100px;
}
.main-container{
    width: 80%;
    margin: 0 auto;
}
.container-one{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    margin-bottom:50px;
}
.container-one > div{
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.container-two{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom:50px;
    gap: 10px;
}
.container-two > div{
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.container-three{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom:50px;
    gap: 10px;
}
.container-three > div{
    background-color: #eee;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}